<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>About Joshua Daniel</h1>
    <p>Blue mountain barista, to go coffee, roast espresso, caffeine qui black decaffeinated iced trifecta. Breve eu, ristretto, at sit coffee, trifecta, a roast grinder body irish. Flavour strong, medium cinnamon aromatic coffee chicory fair trade black.</p>
    <p>Café au lait acerbic qui whipped coffee single origin iced. Cultivar viennese café au lait robust qui blue mountain variety pumpkin spice cream plunger pot et wings. French press spoon cup as, so caffeine filter dark single shot espresso.</p>
</body>
</html>