<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href={% static 'time/css/normalize.css' %}>
    <link rel="stylesheet" href={% static 'time/css/skeleton.css' %}>
    <title>Current Time</title>
</head>
<body>
    <div class="container">
        <div class="box small_bx">
            <p>The current date and time is:</p>
            <!-- <p>{{date_time}}</p> -->
        </div>
        <div class="box wide_bx">
            <h2>{{date}}</h2>
            <h3>{{time}}</h3>
        </div>
    </div>
</body>
</html>