<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skeleton.css') }}">
    <title>Friends</title>
</head>
<body>
    <div class="container">
        <h1>These are all my friends!</h1>
        <!-- with all the data we can then construct a more structured output -->
        <table>
            <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Friend Since</th>
            </thead>
            {% for friend in all_friends: %}
            <tr>
                <td>{{ friend['first_name'] }}</td>
                <td>{{ friend['last_name'] }}</td>
                <td>{{ friend['age'] }}</td>
                <td>{{ friend['date_friend_since'] }}</td>
            </tr>
            {% endfor %}
        </table>
        <hr>
        <h2>Add a Friend</h2>
        <form action='/process' method='POST'>
            <div class="row">
                <label class="columns two" for="first_name">First Name:</label><input class="columns three" type="text" name="first_name" id="first_name">
                <label class="columns two" for="last_name">Last Name:</label><input class="columns three" type="text" name="last_name" id="last_name">
            </div>
            <div class="row">
                <label class="columns two" for="age">Age:</label><input class="columns three" type="text" name="age" id="age">
                <label class="columns two" for="date_friend_since">Friend Since:</label><input class="columns three" type="date" name="date_friend_since" id="date_friend_since">
            </div>
            <div class="row">
                <input type="submit" value="Add">
            </div>
        </form>
    </div>
</body>
</html>
