<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href={% static 'main/css/normalize.css' %}>
    <link rel="stylesheet" href={% static 'main/css/skeleton.css' %}>
    <title>New User</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h4 class="header_column six bluetext">New User</h4>
        </div>
        
        <form class='user_login columns eight' action='/users/new/process' method='POST'>
            {% csrf_token %}
            <h5 class='underline'>Add New User</h5>
            <div class="row">
                <label class="columns three" for="username">Username:</label><input class="columns eight" type="text" name="username" id="username">
            </div>
            <div class="row">
                <label class="columns four" for="first_name">First Name:</label><input class="columns eight" type="text" name="first_name" id="first_name">
            </div>
            <div class="row">
                <label class="columns four" for="last_name">Last Name:</label><input class="columns eight" type="text" name="last_name" id="last_name">
            </div>
            <div class="row">
                <label class="columns four" for="email">Email:</label><input class="columns eight" type="text" name="email" id="email">
            </div>
            <!-- <div class="row">
                <label class="columns four" for="password">Password:</label><input class="columns eight" type="password" name="password" id="password">
            </div>
            <div class="row">
                <label class="columns four" for="pass_conf">Confirm Password:</label><input class="columns eight" type="password" name="pass_conf" id="pass_conf">
            </div> -->
    
            <div class="row">
                <input name="route_name" type="submit" value="Create">
            </div>
            <div class="row">
                <a href="/users">Go Back</a>
            </div>        
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li {% if message.tags %} class="red" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </form>
    </div>
</body>
</html>
