<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href={% static 'main/css/normalize.css' %}>
    <link rel="stylesheet" href={% static 'main/css/skeleton.css' %}>
    <title>Main Index</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <a href="/time">View current time and date</a>
        </div>
        <div class="row">
        <a href="/word">Generate a random word</a>
        </div>
    </div>
</body>
</html>